/*general*/
body{
	background-color:#FFF7D9; 
	margin-left: 10em;
}

/*HEADER*/
nav{
  display:inline-block;
  float:right;
  margin-right: 13em;
  margin-top: 5em
}
.encabezado{
  display:inline-block;
  margin-left: 2em;
}
.encabezado__logo{
  display:inline-block;
}

.navegacion{
	display: inline-block;
	padding: .5em;
}

.separador__barra__header{
	width: 59em;
	height: 5px;
	margin-left: 2em;
	margin-right: 5em;
}

.foto__fondo{
	width: 59em;
	height: 13em;
	margin-left: 2em;
	margin-right: 5em;
	border-radius: 5px;
	margin-bottom: -4em;
}


.articulo{
	position: relative;
	width:59em;
	color: white;
  	background-color:rgba(33, 26, 26, 0.8);
  	height:3.8em;
  	left: 2em;
  	border-bottom-left-radius:	5px;
  	border-bottom-right-radius: 5px;
}

.articulo__texto{
  display:inline-block;
  position:absolute;
  left:2em;
  bottom:1.5em;
}
.articulo__boton{
  display:inline-block;
  position:absolute;
  right:1em;
  bottom:1em;
  text-decoration: none;
  padding: .5em;
  color:white;
  background: linear-gradient(to bottom, #A75B5C, #7D0B0D);
  border-radius: 5px;
  border:#7D0B0D 1px solid;
}

.articulo__boton__img{
	width: .8em;
  height:.8em;
  vertical-align:middle;
  border-radius:2px;
}
.articulo__boton:hover{
    background:linear-gradient(to bottom, white, blue);
    border:blue 1px solid;
  }



/*CONTENIDO*/
main{
  float: left;
  width: 37em;
  margin-left: 2em;
  margin-top: 5em;
}
.titulo__imagen,.titulo__principal{
	display: inline;
	vertical-align: middle;
}
aside{
  background-color:#706B64;
	color:white; 
  float: right;
  margin-right: 13em;
  width:20em;
  text-align: center;
  margin-bottom: 5em;
  margin-top: 5em;
  border-radius: 5px;
}
.flecha{
	float: right;
	position: relative;
	top: 2em;
	right: 20em;
}

.perfil__foto{
	border:1px solid black;
}


footer{
  clear: both;
}
.separador__barra__footer{
	width: 59em;
	height: 5px;
	padding: 0;
	margin-bottom: -.5em;
	margin-left: 2em;
	margin-right: 5em;
}
.separador__top{
	margin-left: 30em;
	padding: 0;

}
.ultimostwits,.fotos,.amigos{
	display: inline-block;
	width: 19em;
	height: 150px;
	vertical-align:middle;
	margin-left: 10px;
}
.ultimostwits{
	margin-left: 2em;
}
.lista1,.lista2{
	display: inline-block;
	color:  #7D0B0D;
	list-style: url("viñeta.png") square;
}
.aboutme__fotos{
	border:1px solid black;
}